third_iteration/flows.json
[{"id":"ed318932.b4fb9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a1bfb361.3362","type":"http in","z":"ed318932.b4fb9","name":"","url":"/button","method":"post","upload":false,"swaggerDoc":"","x":110,"y":60,"wires":[["3ea5556f.777ea2"]]},{"id":"70c38949.b803a8","type":"debug","z":"ed318932.b4fb9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":180,"wires":[]},{"id":"3e3a9eb0.53514a","type":"http response","z":"ed318932.b4fb9","name":"","statusCode":"","headers":{},"x":530,"y":60,"wires":[]},{"id":"262f06a2.f6f29a","type":"e-mail","z":"ed318932.b4fb9","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":530,"y":120,"wires":[]},{"id":"3ea5556f.777ea2","type":"function","z":"ed318932.b4fb9","name":"Compose e-mail","func":"msg.topic = \"Pushbutton\";\nmsg.payload = \"Someone pressed my button!\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":60,"wires":[["70c38949.b803a8","262f06a2.f6f29a","3e3a9eb0.53514a"]]}]