seventh_iteration/flows.json
[{"id":"95d4dd1.4ee76a","type":"mqtt in","z":"920b2d0.c740c5","name":"","topic":"/arduino/button","qos":"0","broker":"81c0449e.57cd1","x":120,"y":60,"wires":[["f3c267bb.a62aa8","4c3ebb3f.5e03e4"]]},{"id":"f3c267bb.a62aa8","type":"debug","z":"920b2d0.c740c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":60,"wires":[]},{"id":"4c3ebb3f.5e03e4","type":"mqtt out","z":"920b2d0.c740c5","name":"","topic":"/arduino/servo","qos":"0","retain":"","broker":"81c0449e.57cd1","x":480,"y":140,"wires":[]},{"id":"81c0449e.57cd1","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"10.130.22.201","port":"1883","clientid":"raspi","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
