sixth_iteration/flows.json
[{"id":"3b11e2bf.fab086","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2821ab75.3650dc","type":"watch","z":"3b11e2bf.fab086","name":"Watch for file changes","files":"/data/opencv.png","recursive":"","x":120,"y":100,"wires":[["9d69d017.36d768"]]},{"id":"fc5afb61.24ba48","type":"debug","z":"3b11e2bf.fab086","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":140,"wires":[]},{"id":"9d69d017.36d768","type":"delay","z":"3b11e2bf.fab086","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":100,"wires":[["ce722854.ee6eb8"]]},{"id":"ce722854.ee6eb8","type":"function","z":"3b11e2bf.fab086","name":"Compose e-mail","func":"msg.topic = \"Node-Red\";\n\nmsg.payload = \"Hello,<br><br>Someone is waiting at the door and forgot the badge..<br>In attachment you can find a camera snapshot.<br><br>Kind regards,<br>Your Node-Red flow\";\n\nmsg.attachments = [{\n    filename: 'opencv.png',\n    path: '/data/opencv.png',\n    content: msg.payload\n}];\n        \nreturn msg;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["fc5afb61.24ba48","fdbafbc2.2d5f7"]]},{"id":"fdbafbc2.2d5f7","type":"e-mail","z":"3b11e2bf.fab086","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":710,"y":100,"wires":[]}]